<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /GiuaKyPHP/

    # Chuyển hướng tất cả các yêu cầu đến index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php?url=$1 [QSA,L]
</IfModule>
